{% extends 'base.html' %}

{% block title %}
    {% if view.object %}Modifier une marque{% else %}Ajouter une marque{% endif %}
{% endblock %}

{% block content %}
<h1>
    {% if view.object %}Modifier une marque{% else %}Ajouter une marque{% endif %}
</h1>

<form method="post" class="mt-4">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-success">Enregistrer</button>
    <a href="{% url 'brand_list' %}" class="btn btn-secondary">Annuler</a>
</form>
{% endblock %}
